.SubmitButton {
    display: flex;
    align-items: center;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s ease
}

.SubmitButton h3{
    transition: 0.3s ease;
}

.SubmitButton__icon {
    width: 30%;
    height: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.SubmitButton::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        to top right,
        var(--main-color),
        var(--second-color)
    );
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}

.SubmitButton:hover::before {
    transform: scale(3);
}

.SubmitButton:hover h3 {
    color: #fff !important;
    z-index: 50000;
    transition: 0.3s ease;
}

.SubmitButton:hover .SubmitButton__icon {
    /* Add this if you have icons inside the button you want to turn white as well */
    color: #fff;
}


.deletebutton {
    background-color: var(--main-color);
    color: var(--txt-white);
}

.invoicepercent{
    color: var(--txt-white);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.invoiceflat{
    color: var(--txt-white);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}