.inspectionprintcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}


.circleempty{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    transform: translate(-100%, 25%);
}

.circlefilled{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    transform: translate(-100%, 25%);
}